<mat-card>
  <mat-toolbar>
    <span>Lista de</span>
  </mat-toolbar>
  <mat-card-content>

    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      
        <!-- ID -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let user"> {{ user.id}} </td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> NOME </th>
          <td mat-cell *matCellDef="let user"> {{ user.name }} </td>
        </ng-container>
        
        <!-- NIF Column -->
        <ng-container matColumnDef="nif">
          <th mat-header-cell *matHeaderCellDef> NIF </th>
          <td mat-cell *matCellDef="let user"> {{ user.nif }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
    </mat-card>